BODY{font-family:"Helvetica Neue",Helvetica,sans-serif;font-size:1em;margin:0;}
BODY.x-android{font-family:Roboto,"Droid Sans",sans-serif;}
.LoginScreen,.SplashScreen{background-color:white;height:100%;left:0;min-height:640px;overflow:hidden;position:absolute;top:0;width:100%;}
.x-phone .LoginScreen{min-height:500px;}
.LoginScreen .center,.SplashScreen .center{left:50%;margin-left:-150px;overflow:visible;position:absolute;width:300px;}
.x-phone .LoginScreen H1,.x-phone .SplashScreen H1{margin-top:1.5em;margin-bottom:2em;}
.LoginScreen H1,.SplashScreen H1{margin-top:1em;margin-bottom:2em;}
.ImgLoginBanner{background-image:url(/skins/_base/logos/TouchLoginBanner.png);background-repeat:no-repeat;background-position:bottom;background-size:100%;cursor:pointer;height:85px;width:300px;}
@media(min-resolution:1.1dppx),(min-resolution:100dpi),(-webkit-min-device-pixel-ratio:2){.ImgLoginBanner{background-image:url(/skins/_base/logos/TouchLoginBanner@2x.png);}
}
.x-phone .ImgLoginBanner{margin-left:15%;zoom:.7;}
.x-android .LoginScreen .zLoginFieldDiv{border-color:#999;border-style:solid;border-width:0 1px 1px;border-radius:0;height:.5em;margin-bottom:1.75em;margin-top:3em;overflow:visible;position:relative;}
.LoginScreen .zLoginField{border:1px solid #CCC;border-radius:4px;height:1.25em;font-size:1.25em;margin-bottom:.75em;-webkit-appearance:caret;}
.x-android .LoginScreen .zLoginField{border:none;height:1.25em;font-size:1.25em;outline-color:transparent;position:absolute;top:-1.25em;left:5px;right:5px;}
.x-phone .LoginScreen .zLoginField{font-size:1em;}
.LoginButton{border:none;background-color:transparent;color:#999;font-size:1.5em;line-height:2em;margin-top:1em;-webkit-appearance:none;}
.x-phone .LoginButton{font-size:1.25em;margin-top:0;}
.LoginButton.enabled{color:#0087C3;}
.x-android .LoginButton{border:1px solid #CCC;border-radius:0;background-color:#CCC;color:#999;font-size:1.5em;line-height:2em;margin-top:.25em;outline-color:transparent;width:100%;-webkit-appearance:none;}
.x-android .LoginButton.enabled{border-color:#999;color:#333;}
.x-android .LoginButton.enabled:active{background-color:#F15922;border-color:#F15922;color:white;}
.LoginScreen .AltLogin{margin-top:8em;text-align:center;}
.x-phone .LoginScreen .AltLogin{font-size:.8em;margin-top:3em;}
.LoginScreen .AltLogin A{color:#0087C3;font-size:.9em;text-decoration:none;}
.LoginScreen .AltLogin A:active{text-decoration:underline;}
.LoginScreen #ZLoginErrorPanel{background-color:#FF9;border:none;border-radius:8px;margin:0 0 1.25em;padding:.5em 1em;}
.x-phone .LoginScreen #ZLoginErrorPanel{font-size:.75em;margin-left:6%;width:80%;}
.LoginScreen .Footer{bottom:0;position:absolute;text-align:center;width:100%;z-index:10;}
.LoginScreen .copyright{color:#999;cursor:default;font-size:.8em;margin:0 1em 2em;}
.x-phone .LoginScreen .copyright{font-size:.7em;}
.SplashScreenProgressBar{background:no-repeat center bottom;margin-top:4em;text-align:center;}
.x-ios .SplashScreenProgressBar{background-image:url('/t/resources/images/progress_ios.gif');background-size:100%;height:64px;margin-left:118px;width:64px;}
.x-android .SplashScreenProgressBar{background-image:url('/t/resources/images/progress_android.gif');background-size:100%;height:4px;margin-left:22px;width:256px;}
@media(min-resolution:1.1dppx),(min-resolution:100dpi),(-webkit-min-device-pixel-ratio:2){.x-ios .SplashScreenProgressBar{background-image:url('/t/resources/images/progress_ios@2x.gif');}
.x-android .SplashScreenProgressBar{background-image:url('/t/resources/images/progress_android@2x.gif');}
}